VITE_SUI_NETWORK=testnet
VITE_SUI_PACKAGE_ID=0xYOUR_PACKAGE_ID
VITE_SUI_ADMIN_CAP_ID=0xYOUR_ADMIN_CAP_ID
VITE_SUI_TREASURY_CAP_ID=0xYOUR_TREASURY_CAP_ID
VITE_SUI_TREASURY_STATE_ID=0xYOUR_TREASURY_STATE_ID
VITE_SUI_COIN_TYPE=0xYOUR_PACKAGE_ID::crozz_coin::CROZZ_COIN
VITE_SUI_TOKEN_SYMBOL=CROZZ
VITE_SUI_TOKEN_DECIMALS=9
VITE_SUI_TOKEN_ICON_URL=https://crozzcoin.com/wp-content/uploads/2025/08/cropped-logo-no-background-270x270.png
